
<div class="container wrapper" class="form-check" class="was-validated">
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <label for="DistributorID">
                <p>
                    <b>Choose Distributor</b>
                </p>
            </label> <select class="form-control" name="DistributorID" [(ngModel)]="distributorID" required>
                <option value="d001">d001</option>
                <option value="d002">d002</option>
                <option value="d003">d003</option>
                <option value="d004">d004</option>
                <option value="d005">d005</option>
            </select>
        </div>

    </div>

    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <div style="width: 500px;" >
            <input type="submit" class="btn btn-dark" value="submit" (click)="getMessage()"><br>
        </div>
        <br>


<!-- <div *ngIf ="!isDataFetched"> -->
    <div class="alert alert-info" *ngIf ="!isDataFetched">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>{{ message }}</strong>
      </div>
    
<div *ngIf="isDataFetched">
        
                <div class="table-responsive">

                                <table class="table table-striped table-bordered table-fixed table-hover table-condensed" style="border:0px; " id="myTable3">
                                  <thead>
                                    <tr>
                                <th><div class="col-lg-0.5">Distributor<br>Id</div></th>
                                <th><div class="col-lg-1">Distributor<br>Name</div></th>
                                <th><div class="col-lg-0.25">Address</div></th>
                                <th><div class="col-lg-0.5">Email</div></th>
                                <th><div class="col-lg-0.5">Phone<br>Number</div></th>
                                                                
                        </tr>
                </thead>
                </table>
                <div  *ngFor="let d of ddiss" class="table-responsive" class ="table-responsive{-sm|-md|-lg|-xl}">
                                <table class="table table-striped table-bordered table-fixed table-hover table-condensed" style="border:0px; " id="myTable3">
                                                <tbody>
                                                  <tr>
                                        <td><div class="col-lg-1">{{d.distributorId}}</div></td>
                                        <td><div class="col-lg-0.5">{{d.name}}</div></td>
                                        <td><div class="col-lg-1">{{d.address}}</div></td>
                                        <td><div class="col-lg-0.5">{{d.emailId}}</div></td>
                                        <td><div class="col-lg-1">{{d.phoneNo}}</div></td>
                            
                                       
                                </tr>

                        </tbody>
                </table>
                </div>




        </div>

</div>


    </div>
</div>
