.image
{
border-radius: 50%;
width: 60%;
height: 60%;
}
.header-left {
    float: left;
}
.header-right {
    float: right;
}
.font{
font-size: 100%;
font-weight: bold;
font-family: cursive;
color: #ffffcc;
}
.mr-auto {
    margin-right: 0 !important;
}
.navbar-toggleable-md .navbar-collapse {         
    -webkit-justify-content: flex-end;
    justify-content: flex-end;  
} 
.header-font{
    font-family: cursive;
    color: #ffffcc;
}
.btn-secondary-spacing 
{
margin-right: 5px;
}