<nav class="navbar navbar-expand-sm navbar-toggleable-md bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand header-left" routerLink ="home-page">
          
        <img src="../../assets/logo.png" class="img-circle image" alt="logo">
    </a>
<ul class="nav navbar-nav">
    <li class="nav-item header-font"><h1><b>Drink and Delight</b></h1><h4>Deliciously Refreshing</h4></li>
</ul>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div  *ngIf="loggedIn" class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
                <div class="btn-group">
                        <button class="btn btn-secondary btn-md btn-secondary-spacing font" id="navbardrop" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink ="home-page">
                            HOME
                        </button>
            <!-- <a class="nav-link"><p class="font">HOME</p></a> -->
            </div>
          </li>

          <li class="nav-item dropdown">
                <div class="btn-group">
                        <button class="btn btn-secondary btn-md dropdown-toggle btn-secondary-spacing font" id="navbardrop" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          RAW MATERIAL
                        </button>
            <!-- <a class="nav-link dropdown-toggle font" href="#" id="navbardrop" data-toggle="dropdown">Raw Material
                </a> -->
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink ="place-rawmaterial-order">Place an Order</a>
                <a class="dropdown-item" routerLink ="display-rawmaterial-orders">Display all Orders</a>
                <a class="dropdown-item" routerLink ="update-rawmaterial-order">Update an Order</a>
                <a class="dropdown-item" routerLink ="update-rawmaterial-stock">Update Stock</a>
                <a class="dropdown-item" routerLink ="set-process-date">Set Process date</a>
                <a class="dropdown-item" routerLink ="track-rawmaterial-order">Track Raw material Order</a>
                <a class="dropdown-item" routerLink ="display-supplier">Display Supplier Details</a>
            </div>
            </div>
          </li>

          <li class="nav-item dropdown">
                <div class="btn-group">
                        <button class="btn btn-secondary btn-md dropdown-toggle btn-secondary-spacing font" id="navbardrop" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PRODUCT
                        </button>
            <!-- <a class="nav-link dropdown-toggle font" href="#" id="navbardrop" data-toggle="dropdown">PRODUCT</a> -->
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink ="place-product-order">Place an Order</a>
                <a class="dropdown-item" routerLink ="display-product-orders">Display all Orders</a>
                <a class="dropdown-item" routerLink ="update-product-order">Update an Order</a>
                <a class="dropdown-item" routerLink ="update-product-stock">Update Stock</a>
                <a class="dropdown-item" routerLink ="set-exit-date">Set Exit date</a>
                <a class="dropdown-item" routerLink ="track-product-order">Track Product order</a>
                <a class="dropdown-item" routerLink ="display-distributor">Display Distributor Details</a>
            </div>
            </div>
          </li>

          <li class="nav-item">
                <div class="btn-group">
                        <button class="btn btn-secondary btn-md font" id="navbardrop" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click) = "logOut()">
                        LOGOUT
                        </button>
            <!-- <a class="nav-link font" href="#">LOGOUT</a> -->
            </div>
          </li>
        </ul>
    </div>
</nav>
