<!-- <head>
    <title>Track Raw Material Order</title>
</head> -->

<div class=container>
    <div>
        <h2>Track Raw Material Order</h2>
        <p>Enter the order ID to be tracked.</p>
    </div>
    <hr>
    <br>
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-lg-2">
                    <label for="orderID">Enter Order ID</label>
                </div>

                <div class="col-lg-3">
                    <input required pattern='[0-9]+' type="text" #trackorderID='ngModel' class='form-control' [(ngModel)]='orderId' name='orderID' id="orderID" (change) = "log(trackorderID)">
                    <!-- <div class = "alert alert-danger" *ngIf = 'orderIDcheck'>Enter numeric order id</div> -->
                    <div class="alert alert-danger" *ngIf="trackorderID.touched && !trackorderID.valid"> Order ID is required
                    <div *ngIf="trackorderID.errors.pattern"> Enter numeric order ID</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-dark" (click) = 'getMessage()'  [disabled] = "!enableButton">Track Order</button>
    </form>
</div>

<div *ngIf="isProcessing" class="spinner-container d-flex align-items-center justify-content-center flex-column">
    <div class="spinner-border text-info" role="status">
        
    </div>
    <h6 class="mt-2">Please wait ...</h6>
</div>

<br>
<div class="container">
<div class="alert" 
[ngClass] = "{
    'alert-info': !(message === 'RawMaterial Order ID does not exist'),
    'alert-danger': (message === 'RawMaterial Order ID does not exist')
  }"
*ngIf = 'isTrackFetched'>
    <strong name = 'outputbox'>{{ message }}</strong>
  </div>
</div>

<div class="container">
    <div class="alert alert-danger" *ngIf = 'hasErrorOccured'>
        <strong name = 'errorbox'>{{ errorMessage }}</strong>
      </div>
    </div>
