<title>Change Password Page - Drink and Delight</title>
<body id="homepage">
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
					
					</div>
				</div>
				<div class="d-flex justify-content-center form_container p-5 border border-info rounded-lg" style="margin-top:10%;margin-bottom: 50px;">
					<form action="ChangePasswordServlet" method="post">
						<div class="container" class="form-check" class="was-validated">
                                <div class="d-flex justify-content-left">
                                        <label>Security Question :</label>
                                    </div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    <b>{{questionVar}}</b>
                                </div>
                                
                            </div>
                            
                            <div class="d-flex justify-content-left">
                                    <label>Enter Security Answer :</label>
                                </div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    
                                </div>
                                <input type="text" name="answer" class="form-control input_user" value="answer" [(ngModel)]="answerVar" placeholder="Answer security question" required>
                            </div>
                            

                            <div class="d-flex justify-content-left">
                                    <label>Enter New Password :</label>
                                </div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    
                                </div>
                                <input type="password" name="newPassword" class="form-control input_user" value="newPassword" [(ngModel)]="newPasswordVar" placeholder="New Password" required>
                            </div>
                            
                            <div class="d-flex justify-content-left">
                                    <label>Confirm Password :</label>
                                </div>
                            <div class="input-group mb-3">
                                <div class="input-group-append">
                                    
                                </div>
                                <input type="password" name="confirmPassword" class="form-control input_user" value="confirmPassword" [(ngModel)]="confirmPasswordVar" placeholder="Confirm New Password" required>
                            </div>
                            <div class="d-flex justify-content-left mt-3 login_container">
                                <button type="button" class="btn btn-primary" (click)="goToLoginPage()">Submit</button>
                            </div>
			            </div>
		            </form>
	            </div>
            </div>
        </div>
    </div>
</body>