
<app-header></app-header>
<img src="../assets/logo1.png" class ="homeImage"  alt="logo">
<!-- <app-place-rawmaterial-orders></app-place-rawmaterial-orders> -->
<!-- <app-place-product-orders></app-place-product-orders> -->
<!-- <app-update-rawmaterial-stock></app-update-rawmaterial-stock>
<app-set-process-date></app-set-process-date>
<app-track-rawmaterial-order></app-track-rawmaterial-order>
<app-update-product-stock></app-update-product-stock>
<app-set-exit-date></app-set-exit-date>
<app-track-product-order></app-track-product-order> -->
<!-- 
<!Doctype html>
<head>

</head>
<body> 
<app-header></app-header>
<app-place-rawmaterial-orders></app-place-rawmaterial-orders>
<app-place-product-orders></app-place-product-orders>
<router-outlet></router-outlet>
</body> -->

